<ion-card *ngIf="fingerprint && (fingerprint.valid === undefined || fingerprint.valid); else invalid">

  <ion-item
    class="toolbar-container" no-lines>

    <div
        *ngIf="!fingerprint || !fingerprint.photo_url || fingerprint.photo_url == '' || fingerprint.photo_url == 'undefined'; else imageUrl">
        <img src="{{imageDefault}}" class="user-letter-image">
    </div>

    <ng-template #imageUrl>
        <!-- <ion-avatar [attr.item-start]="itemStart"> -->
        <div>
            <img class="user-letter-image" src={{profileImageUrl}}
                onError="this.src='../../images/personIcon.png';">
        </div>
    </ng-template>

    <div>
      <ion-badge [color]="color" class="level" *ngIf="level == 0">
        <span >Não possuí permissão em nenhum nível</span>
      </ion-badge>
      <ion-badge [color]="color" class="level" *ngIf="level != 0">
        <span>Nivel de permissão {{level}}</span>
      </ion-badge>
      <span class="name">{{name}}</span>
    </div>
    
  </ion-item>
</ion-card>

<ng-template #invalid>
  <ion-badge color="secondary" class="fingerInvalid" text-wrap>
    <span class="titleSpan">Não foi encontrado nenhum registro com esta digital</span>
  </ion-badge>

  <ion-button color="light" class="closeButton" (click)="closeCard()">
    Inserir outra digital
  </ion-button>
</ng-template>


